.custom-botton3 {
  font-size: 16px;
  width: 150px;
  height: 40px;
  /* color: black; */
  font-weight: bold;

  /* background: #ec3f3f; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
  border: none;

  border: 3px solid rgb(209, 202, 202);
  display: inline-block;
  cursor: pointer;
  line-height: 34px;
}

.custom-button3:hover {
  border: none;
  /* background-color: #d32d2d; */
  color: lightgray;

  /* border: 1px solid #ec3f3f; */
}
.custom-button3:disabled:hover {
  border: none;
}
