.code-options-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 100%;
  /* background: yellow; */
}

.code-options-instructions {
  width: 100%;
  text-align: left;
}

.code-options-titles {
  width: 100%;
  text-align: left;
}
