.grp-edit-container {
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(160, 157, 157, 0.7);
  z-index: 98;
  position: fixed;
}
.grp-edit-overlay {
  width: 60%;
  height: 88%;
  margin-top: 60px;
  margin-left: 20%;
  margin-right: auto;
  background: white;
  z-index: 99;
  position: fixed;
  box-shadow: 4px 4px 20px 8px rgba(0, 0, 0, 0.25);
  /* backdrop-filter: blur(10px); */
}

.grp-edit-title {
  text-align: center;
}

.grp-image-input {
  display: none;
}

.grp-img-edit {
  margin-top: 30px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.image-upload {
  border: 3px solid #ccc;
  display: inline-block;
  padding: 4px 12px;
  cursor: pointer;
}

.grp-name-wrap {
  width: 50%;
  margin: auto;
}

.close-group {
  position: relative;
  margin-left: 97%;
  margin-top: 0.5%;
  cursor: pointer;
  font-size: 15px;
}

.grp-edit-form {
  margin-top: -20px;
}
