.sign-in {
  width: 80%;
  display: flex;
  flex-direction: column;

  border: 10px solid lightgrey;
  border-radius: 5%;
  padding: 30px 50px;
  align-items: stretch;
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;
}
.title {
  margin: 10px 0;
}

/* .buttons-signin {
  display: flex;
  justify-content: space-between;
} */
@media screen and (max-width: 800px) {
  .sign-in {
    /* width: %; */
    padding: 20px;
    border: 5px solid lightgray;
    align-items: center;
  }
}
